<!DOCTYPE html>
<!-- saved from url=(0092)https://stackoverflow.com/users/login?ssrc=head&returnurl=https%3a%2f%2fstackoverflow.com%2f -->
<html class="html__responsive html__unpinned-leftnav" lang="en">

<head>


    <title>Log In</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/stacks.css">
    <link rel="stylesheet" type="text/css" href="../css/primary.css">

</head>

<body class="universal-auth-page unified-theme floating-content">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <header class="s-topbar ps-fixed t0 l0 js-top-bar">
        <div class="s-topbar--container">
            <!-- LINK HREF 1 -->
            <a href="/" class="s-topbar--logo js-gps-track"
                data-gps-track="top_nav.click({is_current:false, location:6, destination:8})">
                <span class="-img _glyph">Stack Overflow</span>
            </a>



            <% if (user) { %>

                <ol class="s-navigation" role="presentation">

                    <!-- LINK HREF 2 -->
                    <li>
                        <a href="#" class="s-navigation--item js-gps-track js-products-menu"
                            aria-controls="products-popover" data-controller="s-popover" data-action="s-popover#toggle"
                            data-s-popover-placement="bottom" data-s-popover-toggle-class="is-selected"
                            data-gps-track="top_nav.products.click({location:6, destination:1})"
                            data-ga="[&quot;top navigation&quot;,&quot;products menu click&quot;,null,null,null]"
                            aria-expanded="false">
                            About
                        </a>
                    </li>
    
                </ol>
                
            <% } %>


            <form id="search" role="search" action="#" class="s-topbar--searchbar js-searchbar " autocomplete="off">
                <div class="s-topbar--searchbar--input-group">
                    <input name="q" type="text" role="combobox" placeholder="Search…" value="" autocomplete="off"
                        maxlength="240" class="s-input s-input__search js-search-field " aria-label="Search"
                        aria-controls="top-search" data-controller="s-popover" data-action="focus-&gt;s-popover#show"
                        data-s-popover-placement="bottom-start" aria-expanded="false">
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                        height="18" viewBox="0 0 18 18">
                        <path
                            d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z">
                        </path>
                    </svg>

                </div>
            </form>

            <% if (user) { %>

                <nav class="h100 ml-auto overflow-x-auto pr12">
                    <ol class="s-topbar--content" role="menubar" style="margin-right: 15px; margin-left: 0px;">
    
    
                        <li role="none" style="margin-left: 5px; margin-right: 5px;">
                            <a href="#"
                                class="s-topbar--item s-user-card s-user-card__small m0 px12 js-gps-track" role="menuitem"
                                data-gps-track="profile_summary.click()">
                                <div class="s-avatar s-avatar__24 s-user-card--avatar sm:m0" title="Nicholas"><img
                                        src="../otherFiles/48030c308bdacb9c4b802c6446e821ff"
                                        alt="Nicholas&#39;s user avatar" width="24" height="24"
                                        class="bar-sm s-avatar--image js-avatar-me">
                                </div>
    
    
                                <div class="s-user-card--info sm:d-none">
                                    <ul class="s-user-card--awards">
    
                                        <input type="hidden" value="<%= user.id %>" id="id">
                                        <input type="hidden" value="<%= user.display_name %>" id="display_name">
                                        <input type="hidden" value="<%= user.email %>" id="email">
    
                                        <!-- HEADER USERNAME -->
                                        <li class="s-user-card--rep js-header-rep" title="Username" aria-hidden="true"><%= user.display_name %></li>
                                        
                                    </ul>
                                </div>
                            </a>
                        </li>
    
                        <li>
                            <!-- LINK HREF 3 -->
                            <a href="/LogOut" class="s-topbar--item s-topbar--item__unset s-btn s-btn__filled ws-nowrap js-gps-track" role="menuitem" rel="nofollow" data-gps-track="login.click" data-ga="[&quot;top navigation&quot;,&quot;login button click&quot;,null,null,null]">Log out</a>
                        </li>
    
                    </ol>
                </nav>

            <% } else { %>

                <nav class="h100 ml-auto overflow-x-auto pr12">
                    <ol class="s-topbar--content" role="menubar">
                        <li role="none">
                            <!-- LINK HREF 2 -->
                            <a href="/LogIn" class="s-topbar--item s-topbar--item__unset s-btn s-btn__filled ws-nowrap js-gps-track" role="menuitem">Log in</a>
                        </li>
                        <li role="none">
                            <!-- LINK HREF 3 -->
                            <a href="/SignUp" class="s-topbar--item s-topbar--item__unset ml4 s-btn s-btn__primary ws-nowrap" role="menuitem">Sign up</a></li>
                    </ol>
                </nav>

            <% } %>

            

        </div>
    </header>

    <div class="container">


        <div data-is-here-when="" class="left-sidebar js-pinned-left-sidebar ps-relative"
            data-can-be="left-sidebar">
        </div>






        <div id="content" class="d-flex flex__center snippet-hidden">



            <div class="d-flex gs32 md:fd-column md:ai-center ai-start">
                <div class="flex--item">
                    <svg aria-hidden="true" class="mtn48 sm:d-none svg-spot spotAlertXL" width="196"
                        height="196" viewBox="0 0 196 196">
                        <path opacity=".07"
                            d="M143.05 18.44C100.21 4.5 55.18 11.8 30.5 34.5c-25 23-27.88 56.81-24 71.5 3.88 14.69 20.34 65 49.5 71s90.25 14.13 121.01-22.8c30.76-36.92 3.69-123.5-33.96-135.76Zm-35.88 14.71 58.13 100.7a9.43 9.43 0 0 1-8.17 14.15H40.87a9.43 9.43 0 0 1-8.17-14.15l58.13-100.7a9.43 9.43 0 0 1 16.34 0Z">
                        </path>
                        <path
                            d="M111.44 41.15a7.43 7.43 0 0 0-12.88 0l-58.14 100.7A7.43 7.43 0 0 0 46.86 153h116.28c5.72 0 9.3-6.2 6.44-11.15l-58.14-100.7ZM109 126.5a9.5 9.5 0 1 1-19 0 9.5 9.5 0 0 1 19 0Zm-17-64a7.5 7.5 0 1 1 15 0v41a7.5 7.5 0 0 1-15 0v-41ZM58.82 39.93a3.5 3.5 0 0 0-1.4 4.74L62.49 54a3.5 3.5 0 0 0 6.15-3.35l-5.07-9.31a3.5 3.5 0 0 0-4.75-1.4ZM37.65 52.02a3.5 3.5 0 0 1 3.52-6.04L60.26 57.1a3.5 3.5 0 1 1-3.53 6.04L37.65 52.02Zm113.84 14.65a3.5 3.5 0 0 0-6.15-3.34l-5.08 9.31a3.5 3.5 0 0 0 6.15 3.35l5.08-9.32Zm21.03 2.57a3.5 3.5 0 0 1-1.26 4.78l-19.09 11.13a3.5 3.5 0 1 1-3.52-6.04l19.08-11.13a3.5 3.5 0 0 1 4.79 1.26Zm-3.32 26.28a3.5 3.5 0 0 1-3.9 3.05l-13.73-1.7a3.5 3.5 0 1 1 .86-6.95l13.72 1.7a3.5 3.5 0 0 1 3.05 3.9Zm-129.5-22a3.5 3.5 0 0 0 3.91 3.05l13.72-1.7a3.5 3.5 0 1 0-.85-6.95l-13.73 1.7a3.5 3.5 0 0 0-3.04 3.9Z"
                            opacity=".2"></path>
                        <path
                            d="m149.37 17 4.63 4.5-4.5 4.5-4.5-4.5 4.37-4.5Zm8.92 145 9.29 9.29-9.3 9.29-9.28-9.3 9.29-9.28Zm-3.1 9.29 3.1 3.1 3.1-3.1-3.1-3.1-3.1 3.1ZM99.5 136a9.5 9.5 0 1 0 0-19 9.5 9.5 0 0 0 0 19Zm0-4a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11Zm0-77a7.5 7.5 0 0 0-7.5 7.5v41a7.5 7.5 0 0 0 15 0v-41a7.5 7.5 0 0 0-7.5-7.5ZM96 62.5a3.5 3.5 0 1 1 7 0v41a3.5 3.5 0 1 1-7 0v-41Zm-5.17-29.35a9.43 9.43 0 0 1 16.34 0l58.13 100.7a9.43 9.43 0 0 1-8.17 14.15H40.87a9.43 9.43 0 0 1-8.17-14.15l58.13-100.7Zm12.87 2a5.43 5.43 0 0 0-9.4 0l-58.13 100.7a5.43 5.43 0 0 0 4.7 8.15h116.26c4.18 0 6.8-4.53 4.7-8.15L103.7 35.15ZM13 112a2 2 0 0 1 2 2v4h4a2 2 0 1 1 0 4h-4v4a2 2 0 1 1-4 0v-4H7a2 2 0 1 1 0-4h4v-4c0-1.1.9-2 2-2Z">
                        </path>
                    </svg>
                    <svg aria-hidden="true" class="d-none sm:d-block svg-spot spotAlertLg" width="97"
                        height="96" viewBox="0 0 97 96">
                        <path
                            d="M46.92 13.07a4.72 4.72 0 0 1 8.16 0l40.33 69.86A4.72 4.72 0 0 1 91.33 90H10.67a4.72 4.72 0 0 1-4.08-7.07l40.33-69.86ZM46.5 76a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Zm0-52.5A5.5 5.5 0 0 0 41 29v24.5a5.5 5.5 0 1 0 11 0V29a5.5 5.5 0 0 0-5.5-5.5Zm47.28 24.51A2.5 2.5 0 0 1 91 50.2l-7.01-.87a2.5 2.5 0 0 1 .61-4.96l7.02.87A2.5 2.5 0 0 1 93.78 48Zm-1.96-11.78a2.5 2.5 0 1 0-2.52-4.32l-9.75 5.69a2.5 2.5 0 0 0 2.52 4.32l9.75-5.7ZM79.98 26.8a2.5 2.5 0 0 1 1 3.4l-2.59 4.76a2.5 2.5 0 0 1-4.39-2.4l2.6-4.75a2.5 2.5 0 0 1 3.38-1ZM4.3 42.19a2.5 2.5 0 0 1-.6-4.96l7-.87a2.5 2.5 0 0 1 .62 4.96l-7.01.87ZM2.58 24.8a2.5 2.5 0 0 0 .9 3.43l9.75 5.69a2.5 2.5 0 1 0 2.52-4.32L6 23.9a2.5 2.5 0 0 0-3.42.9Zm11.74-2.6a2.5 2.5 0 1 1 4.39-2.4l2.6 4.77a2.5 2.5 0 1 1-4.4 2.39l-2.6-4.76Z"
                            opacity=".2"></path>
                        <path
                            d="M46.5 76a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Zm0-3a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Zm0-49.5A5.5 5.5 0 0 0 41 29v24.5a5.5 5.5 0 1 0 11 0V29a5.5 5.5 0 0 0-5.5-5.5ZM44 29a2.5 2.5 0 0 1 5 0v24.5a2.5 2.5 0 0 1-5 0V29ZM41.13 8.24a6.22 6.22 0 0 1 10.74 0l39.3 67.41A6.22 6.22 0 0 1 85.78 85H7.21c-4.8 0-7.79-5.2-5.37-9.35L41.13 8.24Zm8.15 1.5a3.22 3.22 0 0 0-5.56 0L4.42 77.18A3.22 3.22 0 0 0 7.22 82H85.8c2.48 0 4.03-2.7 2.78-4.83L49.27 9.75Z">
                        </path>
                    </svg>
                </div>
                <div class="flex--item wmx5">
                    <h1 class="fs-headline1 mb4">Page not found</h1>
                    <div class="fs-subheading mb24">
                        <p>We're sorry, we couldn't find the page you requested.</p>
                    </div>

                    <div class="fs-body2">

                        <p>Try <a>searching for similar questions</a></p>

                        <p>Browse our <a>recent questions</a></p>
                        <p>Browse our <a>popular tags</a></p>

                        <p class="mb0">If you feel something is missing that should be here, <a
                                >contact
                                us</a>.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>


</body>

</html>